<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" [routerLink]="[('admin')]">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Actividades -->
        <li class="nav-item">
          <a class="nav-link" href="#"  [routerLink]="[('admin/actividad-listado')]">Actividades</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="[('admin/usuario-listado')]">Usuarios</a>
          </li>
      </ul>
      <!-- Botones de registro e ingreso -->
      <div class="d-flex">
        <a href="#" class="btn btn-outline-primary me-2"  [routerLink]="[('register')]">Crea tu cuenta</a>
        <a href="#" class="btn btn-primary" [routerLink]="[('login')]" >Ingresa</a> <!--sdsadsad-->
      </div>
    </div>
  </div>
</nav>

