<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" [routerLink]="[('home')]">Club Atletico Sirio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Home -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="[('home')]">Principal</a>
        </li>
        <!-- Actividades -->

        <li class="nav-item">
          <a class="nav-link" [routerLink]="[('home/actividad')]">Actividades</a>
        </li>
        <!-- Profesores -->
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="[('home/profesor')]">Profesores</a>
        </li>
        <!-- Usuarios -->


      </ul>
      <!-- Botones de registro e ingreso -->


      <div class="d-flex">
        <a *ngIf="!loginService.userLoggedIn()" href="#" class="btn btn-outline-primary me-2"
          [routerLink]="['/register']">Crea tu cuenta</a>
        <a *ngIf="!loginService.userLoggedIn()" href="#" class="btn btn-primary"
          [routerLink]="['/login']">Ingresa</a>
      </div>

      <div *ngIf="loginService.userLoggedIn()" class="d-flex align-items-center gap-2">
        <span class="text-dark fw-bold">
          <i class="bi bi-person-circle me-1"></i>{{ loginService.userLogged() }}
        </span>
        <span class="text-dark fw-bold">
          <i class="bi bi-person-circle me-1"></i> <img src="{{ loginService.userLoggedFoto() }}" class="rounded-circle"
            alt="Foto de perfil {{loginService.userLogged()}}" style="width: 40px; height: 40px;;">
        </span>
        <button class="btn btn-outline-dark btn-sm" (click)="logout()">
          <i class="bi bi-box-arrow-right me-1"></i>Logout
        </button>
      </div>


    </div>
  </div>
</nav>