<div class="container">

    <div class="row noticia">
        <h1 class="text-center">Noticias</h1>
        <div class="noticia-grupo">

               <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card’s content.</p>
                </div>
            </div>

        </div>

    </div>


    <div class="row actividad">
        <h1 class="text-center">Actividades</h1>
        <div class="actividad-grupo">

            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card’s content.</p>
                </div>
            </div>

        </div>

    </div>

</div>