<footer class="footer container-fluid text-white py-5">
  <div class="container">
    <div class="row flex-nowrap">


       <div class="col-md col-12 mb-4">
        <h5 class="footer-title">ENCUÉNTRANOS</h5>
        <div class="map-container">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3639.6965484240127!2d-65.31210871295525!3d-24.182372828936337!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x941b0f6a8e487def%3A0xadae1a8b05d9530c!2sClub%20Sirio%20Libanesa!5e0!3m2!1ses!2sar!4v1750450559337!5m2!1ses!2sar"
            height="200"
            width="100%"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>

      <div class="col-md col-6 mb-4">
        <h5 class="footer-title">AYUDA</h5>
        <ul class="list-unstyled">
          <li><a href="#">Contactanos</a></li>
          <li><a href="#">Métodos de pago</a></li>
          <li><a href="#">Preguntas frecuentes</a></li>
          <li><a href="#">Seguí tu envío</a></li>
        </ul>
      </div>

      <div class="col-md col-6 mb-4">
        <h5 class="footer-title">SERVICIOS</h5>
        <ul class="list-unstyled">
          <li><a href="#">Tiendas</a></li>
          <li><a href="#">Cambios y Devoluciones</a></li>
          <li><a href="#">Guía de talles</a></li>
          <li><a href="#">Política de privacidad</a></li>
        </ul>
      </div>

      <div class="col-md col-6 mb-4">
        <h5 class="footer-title">SOBRE NOSOTROS</h5>
        <ul class="list-unstyled">
          <li><a href="#">Nuestra historia</a></li>
          <li><a href="#">Empleo</a></li>
          <li><a href="#">Noticias</a></li>
        </ul>
      </div>

     

      <div class="col-md col-12 mb-4">
        <h5 class="footer-title">SUSCRIBITE</h5>
        <p>Recibí ofertas y novedades</p>
        <form class="d-flex">
          <input type="email" class="form-control me-2" placeholder="Tu email">
          <button class="btn btn-light">Enviar</button>
        </form>
        <div class="social-icons mt-3">
          <i class="bi bi-facebook me-3"></i>
          <i class="bi bi-instagram me-3"></i>
          <i class="bi bi-youtube"></i>
        </div>
      </div>


    </div>
  </div>
</footer>