<div class="container mt-5">
    <h2 class="text-center mt-5 mb-4">Formulario de Registros</h2>
    <form #sociosForm="ngForm">
        <div class="form-row">
            <div class="form-group ">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" placeholder="Ingresa tu nombre" required #nombreInput="ngModel" [(ngModel)]="usuario.nombre" name="nombre" ngModel>
            </div>
            <!-- Mensaje de error nombre -->
            <div *ngIf="nombreInput.touched && nombreInput.invalid" class="text-danger mb-2">
                <small *ngIf="nombreInput.errors?.['required']">
                    El nombre de Socio es requerido.
                </small>
            </div>

            <div class="form-group ">
                <label for="apellido">Apellido</label>
                <input type="text" class="form-control" id="apellido" placeholder="Ingresa tu apellido" required #apellidoInput="ngModel" [(ngModel)]="usuario.apellido" name="apellido">
            </div>
             <!-- Mensaje de error apellido -->
            <div *ngIf="apellidoInput.touched && apellidoInput.invalid" class="text-danger mb-2">
                <small *ngIf="apellidoInput.errors?.['required']">
                    El apellido de Socio es requerido.
                </small>
            </div>

            <div class="form-group">
                <label for="dni">DNI</label>
                 <input type="text" class="form-control" id="dni" placeholder="Ingresa tu DNI" required #dniInput="ngModel" [(ngModel)]="usuario.dni" name="dni" ngModel>
            </div>

            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Ingresa tu username" required #usernameInput="ngModel" [(ngModel)]="usuario.username" name="username" ngModel>
            </div>
            <!-- Mensaje de error username -->
            <div *ngIf="usernameInput.touched && usernameInput.invalid" class="text-danger mb-2">
                <small *ngIf="usernameInput.errors?.['required']">
                    El username de Socio es requerido.
                </small>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Ingresa la contraseña" required #passwordInput="ngModel" [(ngModel)]="usuario.password" name="password" ngModel>
            </div>
            <!-- Mensaje de error password -->
            <div *ngIf="passwordInput.touched && passwordInput.invalid" class="text-danger mb-2">
                <small *ngIf="passwordInput.errors?.['required']">
                    El password de Socio es requerido.
                </small>
            </div>

            <div class="form-group">
                <label for="correo">Email</label>
                <input type="correo" class="form-control" id="email" placeholder="Ingresa tu email" required #emailInput="ngModel" [(ngModel)]="usuario.correo" name="correo" ngModel>
            </div>
            <!-- Mensaje de error email -->
            <div *ngIf="emailInput.touched && emailInput.invalid" class="text-danger mb-2">
                <small *ngIf="emailInput.errors?.['required']">
                    El email de Socio es requerido.
                </small>
            </div>

            <div class="form-group mb-3">
                <label for="idRol" class="form-label">Selecciona un rol</label>
                <select class="form-select" aria-label="Default select example" [(ngModel)]="usuario.rol" name="rol">
                    <option *ngFor="let r of ArrayRoles" [ngValue]="r">{{r.tipo}}</option>
                </select>
            </div>
        </div>
       
        <div class="form-group mt-4 boton-group">
            <button *ngIf="accion === 'new'" type="button" class="btn btn-primary mr-2"  (click)="RegistrarUsuario()">Registrarse</button>
            <button *ngIf="accion === 'update'" type="button" class="btn btn-primary mr-2" (click)="ActualizarUsuario()">Actualizar</button>
            <button type="reset" class="btn btn-danger mr-2" [routerLink]="[('/admin/usuario-listado')]">Cancelar</button>
        </div>
        
    </form>
</div>