    <div class="container mt-5">
        <h2 class="text-center mt-5 mb-4">Formulario de Registros</h2>
        <form #sociosForm="ngForm">
            <div class="form-row">
                <div class="form-group ">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Ingresa tu nombre" 
                    required #nombreInput="ngModel" name="nombre" ngModel>
                </div>

                    <!-- Mensaje de error nombre -->
            <div *ngIf="nombreInput.touched && nombreInput.invalid"
                class="text-danger mb-2">
                <small *ngIf="nombreInput.errors?.['required']">
                    El nombre de Socio es requerido.
                </small>
            </div>

                <div class="form-group ">
                    <label for="apellido">Apellido</label>
                    <input type="text" class="form-control" id="apellido" placeholder="Ingresa tu apellido" required #apellidoInput="ngModel" name="apellido" ngModel>
                </div>
            </div>
            <!-- Mensaje de error apellido -->

            <div *ngIf="apellidoInput.touched && apellidoInput.invalid"
                class="text-danger mb-2">
                <small *ngIf="apellidoInput.errors?.['required']">
                    El apellido de Socio es requerido.
                </small>
            </div>




            <div class="form-group">
                <label for="dni">DNI</label>
                <input type="text" class="form-control" id="dni" placeholder="Ingresa tu DNI" required #dniInput="ngModel" name="dni" ngModel>
            </div>

            <!-- Mensaje de error dni -->

            <div *ngIf="dniInput.touched && dniInput.invalid"
                class="text-danger mb-2">
                <small *ngIf="dniInput.errors?.['required']">
                    El DNI de Socio es requerido.
                </small>
            </div>


            <div class="form-group">
                <label>Sexo</label>
                <div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="sexo" id="sexoMasculino" value="masculino" required #sexoInput="ngModel" ngModel>
                        <label class="form-check-label" for="sexoMasculino">Masculino</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="sexo" id="sexoFemenino" value="femenino" required #sexoInput="ngModel" ngModel>
                        <label class="form-check-label" for="sexoFemenino">Femenino</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="sexo" id="sexoBinario" value="binario" required #sexoInput="ngModel" ngModel>
                        <label class="form-check-label" for="sexoBinario">Binario</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Ingresa tu email" required #emailInput="ngModel" name="email" ngModel>
            </div>

            <!-- Mensaje de error email -->

            <div *ngIf="emailInput.touched && emailInput.invalid"
                class="text-danger mb-2">
                <small *ngIf="emailInput.errors?.['required']">
                    El email de Socio es requerido.
                </small>
            </div>


            <div class="form-group">
                <label for="telefono">Teléfono</label>
                <input type="tel" class="form-control" id="telefono" placeholder="Ingresa tu teléfono" required #telefonoInput="ngModel" name="telefono" ngModel>
            </div>

            <!-- Mensaje de error telefono -->
            <div *ngIf="telefonoInput.touched && telefonoInput.invalid"
                class="text-danger mb-2">
                <small *ngIf="telefonoInput.errors?.['required']">
                    El teléfono de Socio es requerido.
                </small>
            </div>
            

            <div class="form-group">
                <label for="domicilio">Domicilio</label>
                <input type="text" class="form-control" id="domicilio" placeholder="Ingresa tu domicilio" required #domicilioInput="ngModel" name="domicilio" ngModel>
            </div>

            <!-- Mensaje de error domicilio -->

            <div *ngIf="domicilioInput.touched && domicilioInput.invalid"
                class="text-danger mb-2">
                <small *ngIf="domicilioInput.errors?.['required']">
                    El domicilio de Socio es requerido.
                </small>
            </div>




            <div class="form-group">
                <label for="contrasena">Contraseña</label>
                <input type="password" class="form-control" id="contrasena" placeholder="Ingresa tu contraseña" required #contrasenaInput="ngModel" name="contrasena" ngModel>
            </div>

            <!-- Mensaje de error contraseña -->

            <div *ngIf="contrasenaInput.touched && contrasenaInput.invalid"
                class="text-danger mb-2">
                <small *ngIf="contrasenaInput.errors?.['required']">
                    La contraseña de Socio es requerida.
                </small>
            </div>



            <div class="form-group">
                <label for="imagen">Imagen de perfil</label>
                <input type="file" class="form-control-file" id="imagen" accept="image/*" required #imagenInput="ngModel" name="imagen" ngModel>
            </div>

            <!-- Mensaje de error imagen -->

            <div *ngIf="imagenInput.touched && imagenInput.invalid"
                class="text-danger mb-2">
                <small *ngIf="imagenInput.errors?.['required']">
                    La imagen de Socio es requerida.
                </small>
            </div>


            <div class="form-group mt-4 boton-group">
                <button type="submit" class="btn btn-primary mr-2" [disabled]="!sociosForm.valid">Registrarse</button>
                <button type="reset" class="btn btn-danger mr-2" [routerLink]="[('/home/usuarioList')]">Cancelar</button>
            </div>
        </form>
    </div>

 
