.perfil-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background: linear-gradient(to bottom, #ffffff, #f8f9fa);
}
.text-center{
    color: green;
    font-weight: 800;
}
.perfil-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
}
.perfil-card {
  position: relative;
  background: #fff;
  border: 2px solid transparent;
  border-radius: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 0;
  overflow: hidden;
}

.perfil-card::before {
  content: '';
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: 1rem;
  background: linear-gradient( green);
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}

.perfil-card:hover::before {
  opacity: 1;
}
