.mini-img {
  height: 150px;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.mini-card {
  font-size: 1rem; /* más grande que antes */
  transition: transform 0.2s ease;
}

.mini-card:hover {
  transform: scale(1.01);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
}

.card-title {
  font-size: 1.1rem;
}

.card-footer button {
  font-size: 0.95rem;
}
