<div>
  <div class="container-fluid py-4">
    <div class="card">
      <div class="card-header clearfix bg-dark text-white">
        <div class="d-flex justify-content-between align-items-center w-100">
          <h2>Listado de Pagos</h2>
          <div>
            <!-- Botón para imprimir o exportar -->
          
          </div>
        </div>
      </div>

      <div class="card-footer">
        <div class="row">
          <div class="col-sm-4">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text">Usuario</span>
              </div>
              <input type="text" class="form-control" placeholder="Buscar por Usuario" />
            </div>
          </div>

          <div class="col-sm-4">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text">Estado</span>
              </div>
              <select class="form-control">
                <option value="">Todos</option>
                <option value="approved">Aprobado</option>
                <option value="pending">Pendiente</option>
                <option value="rejected">Rechazado</option>
              </select>
            </div>
          </div>

          <div class="col-sm-4">
            <button class="btn btn-dark">Buscar</button>
          </div>
        </div>
      </div>

      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered table-hover table-sm align-middle">
            <thead class="table-light text-center">
              <tr>
                <th>#</th>
                <th>ID Pago</th>
                <th>Usuario</th>
                <th>Correo</th>
                <th>Fecha</th>
                <th>Monto</th>
                <th>Método</th>
                <th>Estado</th>
                <th>Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-center" *ngFor="let pago of pagos; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ pago.id }}</td>
                <td>{{ pago.usuario?.nombre }} {{ pago.usuario?.apellido }}</td>
                <td>{{ pago.usuario?.correo }}</td>
                <td>{{ pago.fecha  }}</td>
                <td>${{ pago.monto }}</td>
                <td>{{ pago.metodo }}</td>
           
                <td>
                  <button class="btn btn-sm btn-outline-info" >
                    <i class="bi bi-eye-fill me-1"></i> Ver
                  </button>
                </td>
              </tr>
              <tr *ngIf="pagos.length === 0">
                <td colspan="9" class="text-center text-muted">No hay pagos registrados.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
